* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #111827;
    --secondary-bg-color: #1F2937;
    --hover-color: #374151;
}

body {
    background-color: var(--main-bg-color);
    font-size: 14px;
    font-family: "Helvetica Neue", sans-serif;
}

nav {
    border-bottom: 1px solid gray;
    color: #fff;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-items{
    color: white;
}

.item-list {
    margin: auto;
    text-align: center;
    list-style: none;
}

.title {
    font-family: "Norse";
}
.logo {
    padding: 10px;
}
.home {
    margin-left: auto;
}

.about,
.recipes {
    margin-left: 32px;
}

.recipes {
    margin-right: 32px;
}

@font-face {
    font-family: "Norse";
    src: url(resources/Norse.otf);
}